<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <title>Park Place Community</title>
</head>
<body>
  <header>
      <h1>Park Place</h1>
      
      <nav>
          {{#if loggedIn}}
          <a href="/">Dashboard</a>
          {{/if}}
          <a href="/">Gallery</a>
          <a href="/">Contact</a>
          {{#if loggedIn}}
          <button>Logout</button>
          {{/if}}
      </nav>

    
  </header>
  
  <main>
    {{{body}}}
  </main>
</body>
</html>