<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <title>Park Place Community</title>
</head>
<body>
  <header>
    <div class="grid place-content-center">
    <a class="text-4xl bg-blue-600" href="/">Park Place Community</a>
  </div>
 <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
  </header>
  
  <main>
    {{{body}}}
  </main>
  
</body>
</html>