  <div class="bg-gradient-to-t from-white to-sky-700 p-0 mb-6">
  <div class="flex justify-center items-center flex-col">
    <h1 class="text-center text-white text-6xl font-bold mt-4 mb-7">Contact us</h1>
    
    {{!-- <div class="bg-sky-300 w-2/5 p-6 rounded-lg shadow-md">
      <form class="mx-auto">
        <div class="my-3 mx-auto">
          <input type="text" class="w-full mt-2 p-4 outline-none border-none rounded-lg" placeholder="Enter Your Name"/>
        </div>

        <div class="my-3 mx-auto">
          <input type="text" class="w-full mt-2 p-4 outline-none border-none rounded-lg" placeholder="Enter Your Email"/>
        </div>

        <div class="my-3 mx-auto">
          <input type="text" class="w-full mt-2 p-4 outline-none border-none rounded-lg" placeholder="Enter Your Password"/>
        </div>

        <div class="my-3 mx-auto">
          <textarea type="text" class="w-full h-36 mt-2 p-4 outline-none border-none rounded-lg" placeholder="Type Message..."></textarea>
        </div>

        <button type="button" class=" w-full p-3 mt-2 bg-purple-400 text-lg text-white rounded-lg outline-none border-none font-bold tracking-wide transition-all hover:bg-black">Submit</button>
      </form>
    </div> --}}
  </div>



<div class="flex m-8 mb-20 mt-28 mx-20 justify-center">
  <h1 class="italic text-center text-2xl text-black tracking-widest font-semibold m-8">
4955 S. Parkplace Avenue</br>
Ontario, California 91762</br>
Info Center: (909) 773-0400</br>
Current Residents: (909) 923-5028</br>
parkplace@lewismc.com</h1>
  <img class="max-h-96 max-w-96 bg-white" src="/img/park-place-map.png">
</div>
