<section class="login">
    <form action="" class="login-form">
        <label for="email-login">Email:</label>
        <input type="email" id="email-login" />
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
    </form>
    <a href="/signup">Or signup here</a>
</section>