<!-- homepage section -->
<div class="bg-sky-700 drop-shadow-lg">
  <div class="max-w-7xl mx-auto py-2 px-3 sm:px-6 lg:px-8 drop-shadow-2xl">
    <div class="flex items-center justify-between flex-wrap drop-shadow-2xl">
      <div class="w-0 flex-1 flex items-center drop-shadow-2xl">  
      </div>
    </div>
  </div>
</div>

<!--hero section/ sign in-->
<div id="home-hero" class="flex header my-8 bg-gradient-to-t from-white to-sky-700 drop-shadow-2xl">
  <img src="/img/thehero.jpg" class="hidden lg:block rounded-3xl m-2 w-8/12">
  {{!-- login form --}}
  <div class="flex-auto items-center justify-center w-3/4 ">
    <div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg">
      <h3 class="text-2xl font-bold text-center">Login</h3>
      <form action="" class="login-form">
        <div class="mt-4">
          <label class="block" for="email-login">Email<label>
          <input id="email-login" type="text" placeholder="Email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
        </div>
        <div class="mt-4">
          <label class="block" for="password-login">Password<label>
          <input id="password-login" type="password" placeholder="Password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
        </div>
        <div class="flex"><button type="submit" class="w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Login</button></div>
        <div class="mt-6 text-grey-dark">Don't have an account?<a class="text-blue-600 hover:underline" href="/signup">Sign up here!</a></div>
        </div>
      </form>
    </div>
  </div>
</div>

  <!-- page text -->
  <div class="m-8 mb-36 mt-28 mx-20">
    <h1 class="italic text-center text-xl lg:text-5xl text-teal-600 tracking-widest font-semibold m-8 underline underline-offset-1">Welcome to Park Place</h1>
    <h3 class="italic text-center text-md lg:text-2xl tracking-wide font-semibold m-8 text-sky-700 text">Park Place is a master-planned community designed for today’s families with fully appointed brand new homes surrounded by acres of parks and modern amenities. With a central location near major freeways, shopping, dining, entertainment, arts and award-winning schools, there’s no shortage of discovery at this desirable new living destination.</h3>
  </div>
</div>

<script src="/js/login.js"></script>