<section class="signup">
    <a href="/"> &larr; Back to Login</a>
    <form action="" class="signup-form">
        <label for="">Home Address:</label>
        <input type="text" id="address-signup">
        <label for="email-signup">Email:</label>
        <input type="email" id="email-signup" />
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup">
    </form>
</section>