<div class="flex items-center justify-center min-h-screen bg-gradient-to-t from-white to-sky-700">
    <div class="px-8 py-6 mx-4 mt-4 text-left bg-white round-md shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
        <h3 class="text-2xl font-bold text-center">Register</h3>
        <form action="" class="signup-form">
            <div>
                <div class="mt-4">                    
                    <label class="block" for="home-signup">Home<label>
                            <input id="home-signup" type="text" placeholder="Home"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>                
                <div class="mt-4">                    
                    <label class="block" for="name-signup">Name<label>
                            <input id="name-signup" type="text" placeholder="Name"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="mt-4">
                    <label class="block" for="email-signup">Email<label>
                            <input id="email-signup" type="text" placeholder="Email"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="mt-4">
                    <label class="block" for="password-signup">Password<label>
                            <input id="password-signup" type="password" placeholder="Password"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="mt-4">
                    <label class="block" for="Con-Pass">Confirm Password<label>
                            <input id="Con-Pass" type="password" placeholder="Password"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <span class="text-xs text-red-400">Password must be same!</span>
                <div class="flex">
                    <button class="w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" type="submit">Create
                        Account</button>
                </div>
                <div class="mt-6 text-grey-dark">
                    Already have an account?
                    <a class="text-blue-600 hover:underline" href="/homepage">
                        Log in
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/signup.js"></script>