@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(221, 245, 215);
}

.btn{
    font-family: "montserrat", sans-serif;
}

.glide__slide img{
    width: 100%;
}

.glide__slide{
    opacity: .8;
}

.glide__slide--active{
    opacity: 1;
    filter: none;
    transform: scale(1.3);
}

.glide__slides{
    overflow: visible;
}

.header{
    width: 100%;
    height: 500px; 
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(0 0,100% 0, 100% 100%,0 85%);
}